<%- include('../partials/header') %>
<h1>All Flights</h1>

<% flights.forEach(function(flight) {%>
    <h2>Flight:</h2>
    <%= flight.airline %>
    <br>
    <%= flight.airport %>
    <br>
    <%= flight.flightNo %>
    <br>
    <%= flight.departs.toLocaleString()%>
    <a href=<%=`/flights/${flight._id}`%>>Details</a>
    <hr>
    
<% }) %>
<%- include('../partials/footer') %>